*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
display:flex;
background:#050816;
color:white;
height:100vh;
overflow:hidden;
}

/* SIDEBAR */
.sidebar{
width:240px;
background:#0b1022;
padding:20px;
display:flex;
flex-direction:column;
gap:12px;
border-right:1px solid #1f2a44;
}

.brand{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.logo{
width:30px;
height:30px;
background:cyan;
border-radius:8px;
box-shadow:0 0 20px cyan;
}

button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
background:#141b33;
color:white;
transition:.3s;
}

button:hover{
background:cyan;
color:black;
}

.logout{
margin-top:auto;
background:red;
}

/* MAIN */
.main{
flex:1;
padding:20px;
overflow:auto;
}

.topbar{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

input{
padding:10px;
width:300px;
border-radius:10px;
border:1px solid #1f2a44;
background:#0b1022;
color:white;
}

/* VIEWS */
.view{display:none;}
.view.active{display:block;}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
margin-bottom:20px;
}

.card{
background:#0b1022;
padding:20px;
border-radius:12px;
border:1px solid #1f2a44;
}

/* ITEM */
.item{
background:#0b1022;
padding:15px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #1f2a44;
}

.analytics-card{
margin-top:30px;
background:#0b1022;
padding:20px;
border-radius:18px;
border:1px solid #1f2a44;
}

.blurred{
opacity:.45;
filter:blur(1px);
}

.status{
display:inline-block;
padding:6px 12px;
border-radius:999px;
margin-bottom:15px;
font-size:.8rem;
font-weight:bold;
text-transform:uppercase;
}

.status.pending{
background:rgba(255,170,0,.15);
color:#ffaa00;
}

.status.approved,
.status.accepted{
background:rgba(0,255,170,.15);
color:#00ffaa;
}

.status.rejected{
background:rgba(255,0,80,.15);
color:#ff4d8d;
}